/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-xtecwqdy6g] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-xtecwqdy6g] {
    flex: 1;
}

@media (min-width: 641px) {
    .page[b-xtecwqdy6g] {
        flex-direction: row;
    }
}
/* /Pages/Home.razor.rz.scp.css */
h1[b-anofs51nb4] {
    color: #ffd68d
}

p[b-anofs51nb4] {
    color: #aea79b;
}
/* /Pages/Orderpage.razor.rz.scp.css */
h1[b-fm8t6p6eu3] {
    color: #ffd68d
}

p[b-fm8t6p6eu3] {
    color: #aea79b;
}
